@tailwind base;
@tailwind components;
@tailwind utilities;

.link-accent{
  @apply text-accent hover:brightness-125;
}
.image-filter{
  filter: brightness(0) saturate(100%) invert(56%) sepia(49%) saturate(5029%) hue-rotate(322deg) brightness(101%) contrast(91%) opacity(10%);
}

* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;

  margin: 0;
}

html,
body {
  overscroll-behavior: none;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
.thumb::before{
  @apply !shadow-md !border !border-gray-200;
}

.caption *{
  @apply !bg-primary !shadow-md;
}

.multi-range-slider{
  padding: 0!important;
  box-shadow: none!important;
  border: none!important;
}
.multi-range-slider .ruler{
  display: none!important;
}
.multi-range-slider .bar-inner{
  border: none!important;
  box-shadow: none!important;
}
.multi-range-slider .bar-right{
  border: none!important;
  box-shadow: none!important;
}
.multi-range-slider .bar-left{
  border: none!important;
  box-shadow: none!important;
}