@import 'tailwindcss';
@source '../components'
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5b9364;
  --color-accent: #6358de;
  --color-dark: #011627;
  --color-primary-bg: #fff;

  --radius-primary: 4px;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --shadow-elevation-1: 0 1px 2px 0 #0000004d, 0 1px 3px 1px #00000026;
  --shadow-elevation-2: 0 1px 2px 0 #0000004d, 0 2px 6px 2px #00000026;
  --shadow-elevation-3: 0 1px 3px 0 #0000004d, 0 4px 8px 3px #00000026;

  --font-poppins: var(--font-poppins);
  --font-madina: var(--font-madina);
}

.link-accent{
  @apply text-accent hover:brightness-125;
}
.image-filter{
  filter: brightness(0) saturate(100%) invert(56%) sepia(49%) saturate(5029%) hue-rotate(322deg) brightness(101%) contrast(91%) opacity(10%);
}

* {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}

.thumb::before{
  @apply shadow-md! border! border-gray-200!;
}

.caption *{
  @apply bg-primary! shadow-md!;
}

.multi-range-slider{
  padding: 0!important;
  box-shadow: none!important;
  border: none!important;
}
.multi-range-slider .ruler{
  display: none!important;
}
.multi-range-slider .bar-inner{
  border: none!important;
  box-shadow: none!important;
}
.multi-range-slider .bar-right{
  border: none!important;
  box-shadow: none!important;
}
.multi-range-slider .bar-left{
  border: none!important;
  box-shadow: none!important;
}